  <div class="jumbotron">
  <h3> Edit Your Question </h3>
  <%= form_for @questions do |f| %>

  <%= f.label :title, "Title: " %><br>
  <%= f.text_field :title, :size => 101 %><br /><br />

  <%= f.label :body, "Body: " %><br>
  <%= f.text_area :body, :cols => "100", :rows => "10" %><br /><br />

  <%= f.submit "Update Question" %>

  <% end %><br>
  </div>
