<!DOCTYPE html>
<html>
  <head>
    <title>Habitsu</title>
    <link rel="icon" type="png" href="http://s18.postimg.org/5vo9ex7px/habitsu_logo.png">
    <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="nav">
          <div class="row">



            <div class="large-3 columns">
              <div class="navleft">
                <ul class="inline-list">
                  <li><div class="navbutton"><%= link_to image_tag("/home.png"), users_path %></div></li>
                  <% if signed_in? %>
                  <li><div class="navbutton"><%= link_to image_tag("/USER-1.png"), user_path(current_user) %></div></li>
                  <% end %>
                </ul>

              </div>
            </div>
            <div class="large-9 columns">
              <div class="navright">
                <ul class="inline-list right">

                  <% if signed_in? %>
                    <li><div class="navbutton"><%= link_to image_tag("/checklist.png"), users_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("/OPTIONS-1.png"), edit_user_registration_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("/LOGOUT-1.png"), destroy_user_session_path, :method => :delete %></div></li>
                  <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="flashnotice">
        <% if flash.any? %>
            <% if alert != nil %>
              <%= alert %>
            <% elsif notice.is_a? String %>
              <%= notice %>
            <% elsif notice.size == 1 %>
              <%= notice.first %>
            <% else %>
              <% flash[:notice].each do |flash| %>
                <%= flash %><br />
              <% end %>
            <% end %>
        <% end %>
      </div>

        Log in

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div><br />

  <div class="field2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <%= render "devise/shared/links" %><br />

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%><br />

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %><br />

</div>
</div>
</body>
</html>
