<div class="row">
<div class="small-6 columns">

<%= form_for @new_habit do |f| %>


<%= f.label "Looking to add a habit to your plan?" %>
<%= f.text_field :name, :required => true %>
<%= hidden_field_tag 'current_plan', params[:id] %>

<%= f.submit "Add Habit" %>

<% end %>
</div>
<div class="small-6 columns">
Current habits for your plan:<br>

<% if !@habits.empty? %>
<% @habits.each do |habit| %>
<%= Habit.find(habit.habit_id).name %><br>
<% end %>
<% else %>
Your plan doesn't have any habits yet!  Please add some.
<% end %>
</div>

</div>
