
<div class ="row">
<div class="large-6 columns">
<div class="featured-plans">
<div class="featured-title">
<h3>Featured Plans<h3>
</div>


<% @plans.each do |plan| %>
<div class="featured-plans-list">
<div class="row">

<div class="small-8 columns">
  <div class="plan-info">


<div class="plan-name">
<%= plan.plan_name %>
</div>

<div class="plan-author">
<%= plan.author %>
</div>

<div class="plan-author-info">
<%= plan.author_info %>
</div>
</div>
</div>
<div class="small-2 columns">
  <div class="featured-logo">
    <%= image_tag('/featured.png') %><br>
  </div>
</div>
<div class="small-2 columns">

  <div class="featured-plan-sign-up">
<%= button_to "", user_plan_path(@user, plan), :id => "plan-#{plan.id}", method: :patch, :class => 'add_plan' %>
</div>
</div>
</div>
</div>
<% end %>


</div>
</div>
<div class="large-6 columns">
  <div class="featured-plans">
    <div class="featured-title">
    <h3>Browse By Goal<h3>
    </div>
    <div class="featured-plans-list">
    <div class="row">
      <div class="small-8 columns">
      <div class="goal-title">
        <div class="plan-name">
        Train Your Brain
      </div>
      </div>
      </div>

      <div class="small-2 columns">
        <div class="goal-browse">
          <%= image_tag('/brain2.png') %><br>
        </div>
        </div>
      </div>
    </div>

    <div class="featured-plans-list">
      <div class="row">
        <div class="small-8 columns">
        <div class="goal-title">
          <div class="plan-name">
          Save More Money
        </div>
        </div>
        </div>

        <div class="small-2 columns">
          <div class="goal-browse">
            <%= image_tag('/finance2.png') %><br>
          </div>
          </div>
        </div>
      </div>

      <div class="featured-plans-list">
        <div class="row">
          <div class="small-8 columns">
          <div class="goal-title">
            <div class="plan-name">
            Get Fit
          </div>
          </div>
          </div>

          <div class="small-2 columns">
            <div class="goal-browse">
              <%= image_tag('/fitness2.png') %><br>
            </div>
            </div>
          </div>
        </div>


        <div class="featured-plans-list">
          <div class="row">
            <div class="small-8 columns">
            <div class="goal-title">
              <div class="plan-name">
              Eat Healthier
            </div>
            </div>
            </div>

            <div class="small-2 columns">
              <div class="goal-browse">
                <%= image_tag('/diet2.png') %><br>
              </div>
              </div>
            </div>
          </div>


</div>

</div>
</div>
</div>
