<!DOCTYPE html>
<html>
<head>
  <title>Habitsu</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container">
      <div class="top-bar">
      <div class="navbar-brand">
      <%= link_to "Dashboard", user_path(current_user) %>
      </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right ">
        <% if signed_in? %>
        <div class="navbar-form form-group">
          <img src="http://s10.postimg.org/lmwcmnusl/user32.png">
        </div>
        <div class="navbar-form form-group">
          <img src="http://s30.postimg.org/dlchktu31/CALENDAR_32.png">
        </div>
        <div class="navbar-form form-group">
          <img src="http://s9.postimg.org/mqaghfauz/gear32.png">
        </div>
        <div class="navbar-form form-group">
          <img src="http://s12.postimg.org/j5xi5rgx5/power32.png">
        </div>
        <% else %>
        <div class="navbar-form form-group">
        <%= link_to "Sign Up", new_user_registration_path %>
        </div>
        <div class="navbar-form form-group">
        <%= link_to "Sign In", new_user_session_path %>
        </div>
        <% end %>
      </form>
    </div>
  </div>
</nav>

  <% if flash.any? %>

    <div class="flash">
      <div class="container">
          <% if alert != nil %>
          <%= alert %>
          <% elsif notice.is_a? String %>
          <%= notice %>
          <% elsif notice.size == 1 %>
          <%= notice.first %>
          <% else %>
          <% flash[:notice].each do |flash| %>
          <%= flash %><br />
          <% end %>
          <% end %>
      </div>
    </div>
  <% end %>

<%= yield %>


<div class="container2" style="text-center">
<img src="http://s30.postimg.org/630lt93pp/Screen_Shot_2015_03_25_at_8_47_22_PM.png" style="width: 8%; height: 8%"><br />
habitsu.<br />
©2015
</div>
</body>
</html>
