<!DOCTYPE html>
<html>
  <head>
    <title>Habitsu</title>
    <link rel="icon" type="png" href="http://s18.postimg.org/5vo9ex7px/habitsu_logo.png">
    <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div class="small-12 columns">
        <div class="nav">
          <div class="row">



            <div class="small-6 columns">
              <div class="navleft">
                <ul class="inline-list">
                  <li><div class="navbutton"><%= link_to image_tag("/home.png"), users_path %></div></li>
                  <% if signed_in? %>
                    <li><div class="navbutton"><%= link_to image_tag("/USER-1.png"), user_path(current_user) %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("/plans.png"), plans_path %></div></li>
                  <% end %>
                </ul>

              </div>
            </div>
            <div class="small-6 columns">
              <div class="navright">
                <ul class="inline-list right">

                  <% if signed_in? %>
                    <li><div class="navbutton"><%= link_to image_tag("/checklist.png"), user_stats_path(current_user) %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("/OPTIONS-1.png"), edit_user_registration_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("/LOGOUT-1.png"), destroy_user_session_path, :method => :delete, :id => 'user_logout' %></div></li>
                  <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="flashnotice">
          <% if flash.any? %>
            <% if alert != nil %>
              <%= alert %>
            <% elsif notice.is_a? String %>
              <%= notice %>
            <% elsif notice.size == 1 %>
              <%= notice.first %>
            <% else %>
              <% flash[:notice].each do |flash| %>
                <%= flash %><br />
              <% end %>
            <% end %>
          <% end %>
        </div>

        <%= yield %>

        <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <div class="footer">
                <p>© Copyright Habitsu 2015</p>
              </div>
            </div>
            <div class="large-6 columns">
            </div>
          </div>
        </div>
        </footer>
      </div>
    </div>
  </body>
</html>
